<!DOCTYPE html>
<html>
	<header>
		<title>
		Dashboard
		</title>
	</header>
	<body>
		{% load static %}
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<h1><center>Sales Dashboard</center></h1>
		<div class="container">
			<div class="item">
		{% if pie %}
				<h2>Sales by Region</h2>
			{{ pie|safe }}
		{% else %}
			<p>No graph was provided.</p>
		{% endif %}
			</div>
			<div class="item">
		{% if trend %}
				<h2>Sales Trend chart</h2>
			{{ trend|safe }}
		{% else %}
			<p>No graph was provided.</p>
		{% endif %}
			</div>
			<div class="item">
		{% if bar %}
				<h2>Regional performance chart</h2>
			{{ bar|safe }}
		{% else %}
			<p>No graph was provided.</p>
		{% endif %}
			</div>
			<div class="item">
		{% if funnel %}
			<h2>Sales Funnel</h2>
			{{ funnel|safe }}
		{% else %}
			<p>No graph was provided.</p>
		{% endif %}
		</div>
		</div>
	</body>
	</body>
</html>
